<div class="page-header">
	<div class="row align-items-end">
		<div class="col-lg-8">
			<div class="page-header-title">
				<div class="d-inline">
					<h4>Customer Account Recharge Info </h4>
					<span>You can manage customer account recharge information from here </span>
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="page-header-breadcrumb">
				<ul class="breadcrumb-title">
					<li class="breadcrumb-item">
						<a href="index-2.html"> <i class="icofont icofont-home"></i> </a>
					</li>
					<li class="breadcrumb-item">
						<a href="#!">Home</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="card">
	<div class="card-header">
        <button type="button" class="btn btn-primary" ng-click="OpenAddModal()" data-toggle="modal" data-target="#AccountRechargeModal">
            Add Account Recharge Info
        </button>
	</div>
	<div class="card-block">
		<table datatable="ng" class="table table-bordered table-styling table-hover table-responsive" ng-init="GetAll()">
			<thead>
				<tr>
					<th>Sl. No</th>
					<th>Customer Name</th>
					<th class="text-center">From Account</th>
					<th class="text-center">Payment Mode</th>
					<th class="text-center">Transiction ID</th>
					<th class="text-center">Transiction Amount</th>
					<th class="text-center">Transiction Date</th>
					<th class="text-center">Action</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="column in accountRechargeHistoryList">
					<td> {{ $index + 1 }}</td>
					<td>{{column.User.UserName}}</td>
					<td class="text-center">{{column.AccountRecharge.FromAccount}}</td>
					<td class="text-center">{{column.PaymentMethod.MethodName}}</td>
					<td class="text-center">{{column.AccountRecharge.TransictionId}}</td>
					<td class="text-right">{{column.AccountRecharge.RechargeAmount | number}}</td>
                    <td class="text-center">{{column.AccountRecharge.CreatedOn | date:"MM/dd/yyyy 'at' h:mma"}}</td>
					<td class="text-center">
                        <button type="button" class="btn btn-info btn-sm" ng-click="OpenAccountRechargeModal(column)">
                            <i class="fa fa-pencil-square-o"></i>&nbsp;Edit
                        </button> &nbsp;
						<button type="button" class="btn btn-danger btn-sm" ng-click="delete(column)">
							Delete
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>



<!-- Modal -->
<div class="modal fade" id="AccountRechargeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
            <div class="modal-header">
                <h5 ng-hide="isUpdate" class="modal-title" id="exampleModalLabel">Add New Account Recharge Info</h5>
                <h5 ng-show="isUpdate" class="modal-title" id="exampleModalLabel">Account Recharge Information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
			<div class="modal-body">
				<form>
					<div class="form-group row">
                        <label class="col-sm-4 col-form-label">Customer Name&nbsp;<span style="color:red">*</span> </label>
						<div class="col-sm-8" ng-init="GetCustomerList()">
							<select ng-model="accountRecharge.UserId"
									class="form-control"
									ng-options="u.Id as u.UserName for u in Users"
                                    ng-disabled="isUpdate"></select>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-4 col-form-label">From Account</label>
						<div class="col-sm-8">
							<input type="text" 
                                   class="form-control"                                    
                                   placeholder="Enter From Account"
                                   ng-model="accountRecharge.FromAccount" 
                                   ng-disabled="isUpdate">
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-4 col-form-label">Transiction ID</label>
						<div class="col-sm-8">
							<input type="text" class="form-control"  
                                   placeholder="Enter Transiction Id"
                                   ng-model="accountRecharge.TransictionId"                                
                                   ng-disabled="isUpdate">
						</div>
					</div>	
					<div class="form-group row">
						<label class="col-sm-4 col-form-label">Payment Method <span style="color:red"> * </span> </label>
						<div class="col-sm-8" ng-init="GetAllPaymentMethod()">
							<select ng-model="accountRecharge.PaymentMethodId"
									class="form-control"
									ng-options="u.Id as u.MethodName for u in paymentMethodList"></select>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-4 col-form-label">Recharge Amount</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" ng-model="accountRecharge.RechargeAmount" placeholder="Enter Role Name">
						</div>
					</div>
				</form>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"><i class="fa fa-window-close"></i>&nbsp;Close</button>
					<button type="button" class="btn btn-primary btn-sm" ng-hide="isUpdate" ng-click="Save(accountRecharge)"><i class="fa fa-save"></i>&nbsp;Save</button>
                    <button type="button" class="btn btn-primary btn-sm" ng-show="isUpdate" ng-click="update()"><i class="fa fa-save"></i>&nbsp;Update</button>
				</div>
			</div>
		</div>
	</div>
</div>