<div class="page-header">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <div class="d-inline">
                    <h4>Application User Role</h4>
                    <span>you can manage user Role from here </span>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="page-header-breadcrumb">
                <ul class="breadcrumb-title">
                    <li class="breadcrumb-item">
                        <a href="index-2.html"> <i class="icofont icofont-home"></i> </a>
                    </li>
            <li class="breadcrumb-item"><a href="#!">Home</a>
                </li></ul>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#userRoleModal">
            Add New Role
          </button>  
    </div>
    <div class="card-block">
		<table datatable="ng" class="table table-bordered table-styling table-hover" ng-init="loadUserRole()">
			<thead>
				<tr>
					<th style="width:10%">Sl. No</th>
					<th style="width:80%">Role Name</th>
					<th class="text-center">Action</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="column in columnlists">
					<td> {{ $index + 1 }}</td>
					<td>{{column.RoleName}}</td>
					<td class="text-center">
						<button type="button" class="btn btn-info btn-sm" ng-click="getEditOption(column)">
							Edit
						</button> &nbsp;
						<button type="button" class="btn btn-danger btn-sm" ng-click="delete(column)">
							Delete
						</button>
					</td>
				</tr>
			</tbody>
		</table>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="userRoleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" >
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add New Role Information</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" >
            <form>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Role Name</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" ng-model="role.RoleName"  placeholder="Enter Role Name">
                    </div>
                </div>
            </form>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" >Close</button>
          <button type="button" class="btn btn-primary" ng-hide="isUpdate" ng-click="Save(role)" >Save</button> 
          <button type="button" class="btn btn-primary" ng-show="isUpdate" ng-click="update()" >Update</button>
        </div>
      </div>
    </div>
  </div>
